<a href="https://colab.research.google.com/github/salimmoulouel/pyspark_recipes/blob/main/pyspark/BDLE_TP3_fenetres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BDLE : Requete fenetre

In [ ]:
import os

# choisir un mode d'execution: colaboratory, local ou ppti

EXECUTION='colaboratory'


# Pour le mode local
# IL FAUT LANCER JUPYTER NOTEBOOK EN LOCAL ET CHOISIR ENVIRONNEMENT LOCAL EN HAUT A DROITE
# 
# Assurez-vous que l'extension jupyter_http_over_ws Jupyter est activée et à jour sur votre machine.
# pip install --upgrade jupyter_http_over_ws>=0.0.1a3 && jupyter serv e port 8888 et qu'il accepte les requêtes du site https://colab.research.google.com.
# jupyter notebook   --NotebookApp.allow_origin='https://colab.research.google.com'   --port=8888   --NotebookApp.port_retries=0
# voir aussi https://research.google.com/colaboratory/local-runtimes.html
# 
#EXECUTION='local'

# EXECUTION EN SALLE PPTI
#EXECUTION='ppti'

print('EXECUTION', EXECUTION)

SPARK_VERSION="2.4.4"

if EXECUTION == 'colaboratory':
  HOME="/content"
  DATASET_DIR="/content"
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  !ls -ld {os.environ["JAVA_HOME"]}
  #os.environ["SPARK_HOME"] = f"{HOME}/spark-{SPARK_VERSION}-bin-hadoop2.7"
  os.environ["SPARK_HOME"] = "{}/spark-{}-bin-hadoop2.7".format(HOME, SPARK_VERSION)

elif EXECUTION == 'local':
  HOME=os.environ["HOME"]
  DATASET_DIR="{}/dataset".format(HOME)
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  # si pyspark deja installé par "conda"
  # os.environ["SPARK_HOME"] = "{}/anaconda3/bin/spark-{}-bin-hadoop2.7".format(HOME, SPARK_VERSION)
  # si on installe spark directement
  os.environ["SPARK_HOME"] = "{}/spark-{}-bin-hadoop2.7".format(HOME, SPARK_VERSION)

elif EXECUTION == 'ppti':
  HOME=os.environ["HOME"]
  DATASET_DIR="/Infos/bd/spark/dataset"
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  os.environ["SPARK_HOME"] = "/usr/local/spark-{}-bin-hadoop2.7".format(SPARK_VERSION)
else:
    print("Valeur incorrecte pour la variable EXECUTION:", EXECUTION)


print('JAVA_HOME:', os.environ["JAVA_HOME"] )
print('SPARK_HOME:', os.environ["SPARK_HOME"])
print('DATASET_DIR:', DATASET_DIR)
print('HOME:', HOME)

EXECUTION colaboratory
drwxr-xr-x 7 root root 4096 Nov 15 16:25 /usr/lib/jvm/java-8-openjdk-amd64
JAVA_HOME: /usr/lib/jvm/java-8-openjdk-amd64
SPARK_HOME: /content/spark-2.4.4-bin-hadoop2.7
DATASET_DIR: /content
HOME: /content

## Téléchargements

### Spark

In [ ]:
import os.path
from os import path

if EXECUTION == 'ppti':
  print("on ne telecharge pas spark")  
else:
  if (path.isdir(HOME+"/spark-"+SPARK_VERSION+"-bin-hadoop2.7")):
    print(HOME+"/spark-"+SPARK_VERSION+"-bin-hadoop2.7 exists.")
  else:
    CLOSER_LOCATION = "https://www.apache.org/dyn/closer.lua/spark/spark-{}/spark-{}-bin-hadoop2.7.tgz".format(SPARK_VERSION, SPARK_VERSION)
    # !wget http://mirror.ibcp.fr/pub/apache/spark/spark-{SPARK_VERSION}/spark-{SPARK_VERSION}-bin-hadoop2.7.tgz
    !wget {CLOSER_LOCATION} -O suggest.html
    !wget `grep "suggest the following mirror" -A2 suggest.html |grep -Po 'href="\K[^"]*'` -O {HOME}/spark-{SPARK_VERSION}-bin-hadoop2.7.tgz
    !cd {HOME} && tar xzf spark-{SPARK_VERSION}-bin-hadoop2.7.tgz && rm spark-{SPARK_VERSION}-bin-hadoop2.7.tgz
    !rm suggest.html
    !echo "spark installé dans {HOME}/spark-{SPARK_VERSION}-bin-hadoop2.7"
    !ls -ld {os.environ["SPARK_HOME"]}
    

# Rmq: une autre méthode possible pour télécharger spark: est :  !pip install pyspark

--2019-11-21 14:41:22--  https://www.apache.org/dyn/closer.lua/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
Resolving www.apache.org (www.apache.org)... 40.79.78.1, 95.216.24.32, 2a01:4f9:2a:185f::2
Connecting to www.apache.org (www.apache.org)|40.79.78.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘suggest.html’

suggest.html            [ <=>                ]  29.13K  --.-KB/s    in 0.09s

2019-11-21 14:41:30 (333 KB/s) - ‘suggest.html’ saved [29826]

--2019-11-21 14:41:32--  https://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
Resolving www-eu.apache.org (www-eu.apache.org)... 95.216.24.32, 2a01:4f9:2a:185f::2
Connecting to www-eu.apache.org (www-eu.apache.org)|95.216.24.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 230091034 (219M) [application/x-gzip]
Saving to: ‘/content/spark-2.4.4-bin-hadoop2.7.tgz’

/content/spark-2.4. 100%[===================>] 219.43M  69.9MB/s    in 3.1s

2019-11-21 14:41:35 (69.9 MB/s) - ‘/content/spark-2.4.4-bin-hadoop2.7.tgz’ saved [230091034/230091034]

spark installé dans /content/spark-2.4.4-bin-hadoop2.7
drwxr-xr-x 13 1000 1000 4096 Aug 27 21:30 /content/spark-2.4.4-bin-hadoop2.7

### findspark

In [ ]:
if EXECUTION == 'ppti' :
  !ls -l /Infos/bd/spark/python/findspark.py
else :
  !pip install findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/b1/c8/e6e1f6a303ae5122dc28d131b5a67c5eb87cbf8f7ac5b9f87764ea1b1e1e/findspark-1.3.0-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.3.0

### demarrer_spark_colab.py

In [ ]:
# URL du dossier PUBLIC_DATASET contenant des fichiers
PUBLIC_DATASET="https://nuage.lip6.fr/s/PQM3RgR4FRnMPQ9/download?path="

if EXECUTION == 'ppti' :
  !ls -l /Infos/bd/spark/python/demarrer_spark.py
else :
  if (path.isfile("demarrer_spark.py")):
     print("demarrer_spark.py exists.")
  else:
     !wget {PUBLIC_DATASET}/python/demarrer_spark.py -O demarrer_spark.py

--2019-11-21 14:42:03--  https://nuage.lip6.fr/s/PQM3RgR4FRnMPQ9/download?path=/python/demarrer_spark.py
Resolving nuage.lip6.fr (nuage.lip6.fr)... 132.227.201.11
Connecting to nuage.lip6.fr (nuage.lip6.fr)|132.227.201.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1624 (1.6K) [text/x-python]
Saving to: ‘demarrer_spark.py’

demarrer_spark.py   100%[===================>]   1.59K  --.-KB/s    in 0.001s

2019-11-21 14:42:03 (1.20 MB/s) - ‘demarrer_spark.py’ saved [1624/1624]

### IMDB

In [ ]:
if EXECUTION == 'ppti' :
  !ls -ld {DATASET_DIR}/imdb/vldb2015
  
else :
  if (path.isdir(DATASET_DIR+"/imdb/vldb2015")):
    print(DATASET_DIR+"/imdb/vldb2015 exists.")
  else:
    !mkdir -p {DATASET_DIR}/imdb/vldb2015

    # les donnees entières (1.18GO)
    #!wget {PUBLIC_DATASET}/imdb/vldb2015/csvfiles.tgz -O imdb/vldb2015/csvfiles.tgz
    #!cd imdb/vldb2015 && tar zxf csvfiles.tgz && rm csvfiles.tgz
    #dir = 'imdb//vldb2015/csvfiles/'

    ## Effacer dataset complet
    #!cd 
    #!ls imdb
    #!rm -rf imdb/csvfiles

    # un sample basé sur 1% des films
    !wget {PUBLIC_DATASET}/imdb/vldb2015/csvfiles_sample001.tgz -O {DATASET_DIR}/imdb/vldb2015/csvfiles_sample001.tgz
    !cd {DATASET_DIR}/imdb/vldb2015 && tar zxf csvfiles_sample001.tgz && rm csvfiles_sample001.tgz
    print("dataset téléchargé")

--2019-11-21 14:42:07--  https://nuage.lip6.fr/s/PQM3RgR4FRnMPQ9/download?path=/imdb/vldb2015/csvfiles_sample001.tgz
Resolving nuage.lip6.fr (nuage.lip6.fr)... 132.227.201.11
Connecting to nuage.lip6.fr (nuage.lip6.fr)|132.227.201.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73571656 (70M) [application/x-compressed]
Saving to: ‘/content/imdb/vldb2015/csvfiles_sample001.tgz’

/content/imdb/vldb2 100%[===================>]  70.16M  52.9MB/s    in 1.3s

2019-11-21 14:42:08 (52.9 MB/s) - ‘/content/imdb/vldb2015/csvfiles_sample001.tgz’ saved [73571656/73571656]

dataset téléchargé

### Movielens

In [ ]:
if EXECUTION == 'ppti' :
  !ls -ld {DATASET_DIR}/movielens
else :
  if (path.isdir(DATASET_DIR+"/movielens")):
    print(DATASET_DIR+"/movielens exists.")
  else:
    !mkdir -p {DATASET_DIR}/movielens
    !wget {PUBLIC_DATASET}/movielens/ml-latest-small.zip -O {DATASET_DIR}/movielens/ml-latest-small.zip
    !cd {DATASET_DIR}/movielens && unzip ml-latest-small.zip  && rm ml-latest-small.zip
    print("dataset movielens téléchargé")

--2019-11-21 14:42:18--  https://nuage.lip6.fr/s/PQM3RgR4FRnMPQ9/download?path=/movielens/ml-latest-small.zip
Resolving nuage.lip6.fr (nuage.lip6.fr)... 132.227.201.11
Connecting to nuage.lip6.fr (nuage.lip6.fr)|132.227.201.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 932435 (911K) [application/zip]
Saving to: ‘/content/movielens/ml-latest-small.zip’

/content/movielens/ 100%[===================>] 910.58K  --.-KB/s    in 0.08s

2019-11-21 14:42:19 (11.7 MB/s) - ‘/content/movielens/ml-latest-small.zip’ saved [932435/932435]

Archive:  ml-latest-small.zip
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/movies.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/tags.csv
dataset movielens téléchargé

télécharger la définition des tables imdb

In [ ]:
if EXECUTION == 'ppti':
  !cp {DATASET_DIR}/imdb/vldb2015/tables_imdb.py tables_imdb.py
else:
  if (path.isfile("tables_imdb.py")):
    print("tables_imdb.py exists.")
  else:
    !wget {PUBLIC_DATASET}/imdb/vldb2015/tables_imdb.py -O tables_imdb.py

--2019-11-21 14:43:10--  https://nuage.lip6.fr/s/PQM3RgR4FRnMPQ9/download?path=/imdb/vldb2015/tables_imdb.py
Resolving nuage.lip6.fr (nuage.lip6.fr)... 132.227.201.11
Connecting to nuage.lip6.fr (nuage.lip6.fr)|132.227.201.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4706 (4.6K) [text/x-python]
Saving to: ‘tables_imdb.py’

tables_imdb.py      100%[===================>]   4.60K  --.-KB/s    in 0.002s

2019-11-21 14:43:11 (2.13 MB/s) - ‘tables_imdb.py’ saved [4706/4706]

### IMDB 2019

In [ ]:
if EXECUTION == 'ppti' :
  !ls -ld {DATASET_DIR}/imdb/complete
  
else :
  if (path.isdir(DATASET_DIR+"/imdb/complete")):
    print(DATASET_DIR+"/imdb/complete exists.")
  else:
    !mkdir -p {DATASET_DIR}/imdb/complete
    # les donnees entières 
    # !wget https://datasets.imdbws.com/name.basics.tsv.gz -O imdb/complete/name.basics.tsv.gz
    !wget https://datasets.imdbws.com/title.akas.tsv.gz -O imdb/complete/title.akas.tsv.gz
    !wget https://datasets.imdbws.com/title.basics.tsv.gz -O imdb/complete/title.basics.tsv.gz
    # !wget https://datasets.imdbws.com/title.crew.tsv.gz -O imdb/complete/title.crew.tsv.gz
    # !wget https://datasets.imdbws.com/title.episode.tsv.gz -O imdb/complete/title.episode.tsv.gz
    # !wget https://datasets.imdbws.com/title.principals.tsv.gz -O imdb/complete/title.principals.tsv.gz
    !wget https://datasets.imdbws.com/title.ratings.tsv.gz -O imdb/complete/title.ratings.tsv.gz
    !cd imdb/complete && gunzip *.gz 
    dir = 'imdb/complete/csvfiles/'

    ## Effacer dataset complet
    #!cd 
    #!ls imdb
    #!rm -rf imdb/csvfiles

    print("dataset téléchargé")

--2019-11-21 14:42:44--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 143.204.101.38, 143.204.101.28, 143.204.101.122, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|143.204.101.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 165944562 (158M) [binary/octet-stream]
Saving to: ‘imdb/complete/title.akas.tsv.gz’

imdb/complete/title 100%[===================>] 158.26M  45.7MB/s    in 3.8s

2019-11-21 14:42:48 (41.7 MB/s) - ‘imdb/complete/title.akas.tsv.gz’ saved [165944562/165944562]

--2019-11-21 14:42:51--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 143.204.101.38, 143.204.101.28, 143.204.101.122, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|143.204.101.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112921452 (108M) [binary/octet-stream]
Saving to: ‘imdb/complete/title.basics.tsv.gz’

imdb/complete/title 100%[===================>] 107.69M  40.6MB/s    in 2.7s

2019-11-21 14:42:54 (40.6 MB/s) - ‘imdb/complete/title.basics.tsv.gz’ saved [112921452/112921452]

--2019-11-21 14:42:55--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 143.204.101.38, 143.204.101.28, 143.204.101.122, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|143.204.101.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4906172 (4.7M) [binary/octet-stream]
Saving to: ‘imdb/complete/title.ratings.tsv.gz’

imdb/complete/title 100%[===================>]   4.68M  --.-KB/s    in 0.1s

2019-11-21 14:42:55 (40.8 MB/s) - ‘imdb/complete/title.ratings.tsv.gz’ saved [4906172/4906172]

dataset téléchargé

## Démarrer la session spark

In [ ]:
from demarrer_spark import demarrer_spark

spark = demarrer_spark()

les dossiers contenant les packages

/env/python
/usr/lib/python36.zip
/usr/lib/python3.6
/usr/lib/python3.6/lib-dynload
/usr/local/lib/python3.6/dist-packages
/usr/lib/python3/dist-packages
/usr/local/lib/python3.6/dist-packages/IPython/extensions
/root/.ipython
findspark.init() initialise les variables d'environnement pour spark
import fait
session démarrée, son id est  local-1574347578926

## Définir l'accès aux fichiers de données

### Définition tables IMDB

In [ ]:
from tables_imdb import lire_tables
dir = "{}/imdb/vldb2015/csvfiles_sample001/".format(DATASET_DIR)

title, kind_type, movie_info, info_type, cast_info, role_type, name,  \
person_info, movie_companies, company_name,company_type \
= lire_tables(spark, dir)

print("tables définies")

tables définies

In [ ]:
title.count()

25084

### Définition tables Movielens

In [ ]:
    #==============
    # Ratings
    #==============
    schema_ratings = """
          userId INT, 
          movieId INT, 
          rating FLOAT, 
          timestamp INT
        """

    ratings = spark.read.option("header","true").csv(path = DATASET_DIR+"/movielens/ml-latest-small/ratings.csv", schema = schema_ratings).persist()
    ratings.createOrReplaceTempView("Ratings")
    #title.printSchema()

    schema_links = """
          movieId INT, 
          imdbId INT, 
          tmdbId INT
        """

    links = spark.read.option("header","true").csv(path = DATASET_DIR+"/movielens/ml-latest-small/links.csv", schema = schema_links).persist()
    links.createOrReplaceTempView("Links")


ratings.show(5)
links.show(5)


# charger tags et movies ...

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
+------+-------+------+----------+
only showing top 5 rows

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
+-------+------+------+
only showing top 5 rows

In [ ]:
# ratings.count()
# links.printSchema()

### Definition table IMDB Complete

https://www.imdb.com/interfaces/

In [ ]:
    #==============
    # Ratings
    #==============
    schema = """
          tconst STRING, 
          averageRating FLOAT, 
          numVotes INT
        """

    imdb_ratings = spark.read.format("csv").option("header", "true").option("delimiter", "\t").schema(schema).load(DATASET_DIR+"/imdb/complete/title.ratings.tsv").persist()
    imdb_ratings.createOrReplaceTempView("IMDB_Ratings")
    imdb_ratings.printSchema()

    #==============
    # AKAS
    #==============
    schema = """
          titleId STRING, 
          ordering INT, 
          title STRING,
          region STRING,
          language STRING,
          types STRING,
          attributes STRING,
          isOriginalkTitle INT
        """

    imdb_akas = spark.read.format("csv").option("header", "true").option("delimiter", "\t").schema(schema).load(DATASET_DIR+"/imdb/complete/title.akas.tsv").persist()
    imdb_akas.createOrReplaceTempView("IMDB_Akas")
    imdb_akas.printSchema()

    imdb_ratings.show(5)
    imdb_akas.show(5)

root
 |-- tconst: string (nullable = true)
 |-- averageRating: float (nullable = true)
 |-- numVotes: integer (nullable = true)

root
 |-- titleId: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- region: string (nullable = true)
 |-- language: string (nullable = true)
 |-- types: string (nullable = true)
 |-- attributes: string (nullable = true)
 |-- isOriginalkTitle: integer (nullable = true)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.6|    1550|
|tt0000002|          6.1|     186|
|tt0000003|          6.5|    1207|
|tt0000004|          6.2|     113|
|tt0000005|          6.1|    1934|
+---------+-------------+--------+
only showing top 5 rows

+---------+--------+--------------------+------+--------+-----------+----------+----------------+
|  titleId|ordering|               title|region|language|      types|attributes|isOriginalkTitle|
+---------+--------+--------------------+------+--------+-----------+----------+----------------+
|tt0000001|       1|Carmencita - span...|    HU|      \N|imdbDisplay|        \N|               0|
|tt0000001|       2|          Καρμενσίτα|    GR|      \N|         \N|        \N|               0|
|tt0000001|       3|          Карменсита|    RU|      \N|         \N|        \N|               0|
|tt0000001|       4|          Carmencita|    US|      \N|         \N|        \N|               0|
|tt0000001|       5|          Carmencita|    \N|      \N|   original|        \N|               1|
+---------+--------+--------------------+------+--------+-----------+----------+----------------+
only showing top 5 rows

In [ ]:
     
   


    schema = """
          tconst STRING, 
          titleType STRING,
          primaryTitle STRING,
          originalTitle STRING,
          isAdult INT,
          startYear INT,
          endYear INT,
          runtimeMinutes INT,
          genres STRING
        """

    imdb_basics = spark.read.format("csv").option("header", "true").option("delimiter", "\t").schema(schema).load(DATASET_DIR+"/imdb/complete/title.basics.tsv").persist()
    imdb_basics.createOrReplaceTempView("IMDB_Basics")
    imdb_basics.printSchema()

    
    imdb_basics.show(5)

IndentationError: ignored

In [ ]:
ml_ratings.count()

100004

In [ ]:
ml_ratings.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: integer (nullable = true)

# Fenêtres: OVER(...)

## Table des films avec année et durée

Table servant de base pour les exemples de calculs sur des fenètres. On peut utiliser la clause WITH pour définir une requête à partir d'une autre requête

In [ ]:
titleWithRuntime = spark.sql("""
WITH T1 as (
  select t.id, t.title, t.production_year, cast(regexp_extract(m.info, '(\\\d+)') as int) as runtime
  from Title t, Movie_info m, Info_type i
  where t.id = m.movie_id and m.info_type_id = i.id
  and i.info = 'runtimes'
  )
  
select id, title, t.production_year, max(runtime) as runtime
from  T1 t
group by id, title, t.production_year
  
""")
titleWithRuntime.createOrReplaceTempView('TitleWithRuntime')

titleWithRuntime.printSchema()
titleWithRuntime.show(5)

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- production_year: integer (nullable = true)
 |-- runtime: integer (nullable = true)

+------+--------------------+---------------+-------+
|    id|               title|production_year|runtime|
+------+--------------------+---------------+-------+
|  9005|Day 8: 7:00 p.m.-...|           2010|     45|
| 54523|Mother-in-Law: Pa...|           1976|     30|
| 78022|An Evening at Hom...|           1951|     30|
|121444|Bentley's Economy...|           1959|     30|
|124831|Balash Be-Yerusha...|           1997|    300|
+------+--------------------+---------------+-------+
only showing top 5 rows

## Fenêtre globale

### Rang des films par durée décroissante, classement général sur tous les films

In [ ]:
classementParDuree = spark.sql("""
select t.*, rank() over (order by runtime desc) as classement
from TitleWithRuntime t
  
""")
classementParDuree.createOrReplaceTempView("ClassementParDuree")

classementParDuree.show(20)

+-------+--------------------+---------------+-------+----------+
|     id|               title|production_year|runtime|classement|
+-------+--------------------+---------------+-------+----------+
|1820745|Der Stammbaum des...|           1939|    821|         1|
|1438422|The Unanswered Qu...|           1976|    793|         2|
|1064254|John Safran Guest...|           2010|    720|         3|
|1064275|Multi-coloured Ra...|           2004|    720|         3|
|1195181|            Stacyjka|           2004|    700|         5|
|1280982|The Beatles Antho...|           1995|    600|         6|
|  65477|  Amanti e segreti 2|           2005|    400|         7|
|1236852|       Taglia e cuci|           2008|    390|         8|
| 635705|Il romanzo di un ...|           1957|    360|         9|
| 980644|   Our Mutual Friend|           1976|    350|        10|
| 494477|France/tour/detou...|           1977|    312|        11|
|1092124|       Rodina zhdyot|           2003|    312|        11|
| 124831|Balash Be-Yerusha...|           1997|    300|        13|
|  20594|    A carte scoperte|           1974|    300|        13|
| 591216|        HLN News Now|           2010|    300|        13|
|1401629|The Private Life ...|           1995|    292|        16|
| 531219| Gniewko, syn rybaka|           1969|    286|        17|
|2238874|Remu & Hurriganes...|           2007|    278|        18|
|1980087|        In Like Timo|           2010|    275|        19|
|1694990|           Arlington|           2011|    275|        19|
+-------+--------------------+---------------+-------+----------+
only showing top 20 rows

### Exemple d'ex-aequos

In [ ]:
exempleExAequos = spark.sql("""
select * 
from ClassementParDuree
where classement in (
  select classement
  from ClassementParDuree
  group by classement
  having count(*) >1
  )
order by classement
""")

exempleExAequos.show(10)

+-------+--------------------+---------------+-------+----------+
|     id|               title|production_year|runtime|classement|
+-------+--------------------+---------------+-------+----------+
|1064254|John Safran Guest...|           2010|    720|         3|
|1064275|Multi-coloured Ra...|           2004|    720|         3|
| 494477|France/tour/detou...|           1977|    312|        11|
|1092124|       Rodina zhdyot|           2003|    312|        11|
|  20594|    A carte scoperte|           1974|    300|        13|
| 124831|Balash Be-Yerusha...|           1997|    300|        13|
| 591216|        HLN News Now|           2010|    300|        13|
|1980087|        In Like Timo|           2010|    275|        19|
|1694990|           Arlington|           2011|    275|        19|
|1325181|The English Civil...|           2001|    250|        25|
+-------+--------------------+---------------+-------+----------+
only showing top 10 rows

### Classement dense, classement normalisé

In [ ]:
classementDense= spark.sql("""
select t.*, 
rank() over (order by runtime desc) as classementAvecExAequos,
dense_rank() over (order by runtime desc) as classementDense,
percent_rank() over (order by runtime desc) as classementNorm
from TitleWithRuntime t
""")
classementDense.createOrReplaceTempView("classementDense")

classementDense.show(200,False)

+-------+---------------------------------------------------------+---------------+-------+----------------------+---------------+---------------------+
|id     |title                                                    |production_year|runtime|classementAvecExAequos|classementDense|classementNorm       |
+-------+---------------------------------------------------------+---------------+-------+----------------------+---------------+---------------------+
|1820745|Der Stammbaum des Dr. Pistorius                          |1939           |821    |1                     |1              |0.0                  |
|1438422|The Unanswered Question: Six Talks at Harvard            |1976           |793    |2                     |2              |1.3114754098360657E-4|
|1064254|John Safran Guest Programs Rage                          |2010           |720    |3                     |3              |2.6229508196721314E-4|
|1064275|Multi-coloured Rage Special                              |2004           |720    |3                     |3              |2.6229508196721314E-4|
|1195181|Stacyjka                                                 |2004           |700    |5                     |4              |5.245901639344263E-4 |
|1280982|The Beatles Anthology                                    |1995           |600    |6                     |5              |6.557377049180328E-4 |
|65477  |Amanti e segreti 2                                       |2005           |400    |7                     |6              |7.868852459016393E-4 |
|1236852|Taglia e cuci                                            |2008           |390    |8                     |7              |9.180327868852459E-4 |
|635705 |Il romanzo di un giovane povero                          |1957           |360    |9                     |8              |0.0010491803278688525|
|980644 |Our Mutual Friend                                        |1976           |350    |10                    |9              |0.001180327868852459 |
|494477 |France/tour/detour/deux/enfants                          |1977           |312    |11                    |10             |0.0013114754098360656|
|1092124|Rodina zhdyot                                            |2003           |312    |11                    |10             |0.0013114754098360656|
|124831 |Balash Be-Yerushalayim                                   |1997           |300    |13                    |11             |0.0015737704918032786|
|20594  |A carte scoperte                                         |1974           |300    |13                    |11             |0.0015737704918032786|
|591216 |HLN News Now                                             |2010           |300    |13                    |11             |0.0015737704918032786|
|1401629|The Private Life of Plants                               |1995           |292    |16                    |12             |0.0019672131147540984|
|531219 |Gniewko, syn rybaka                                      |1969           |286    |17                    |13             |0.002098360655737705 |
|2238874|Remu & Hurriganes: Oowee-Oohla                           |2007           |278    |18                    |14             |0.0022295081967213114|
|1980087|In Like Timo                                             |2010           |275    |19                    |15             |0.002360655737704918 |
|1694990|Arlington                                                |2011           |275    |19                    |15             |0.002360655737704918 |
|1365624|The Lost Boys                                            |1978           |274    |21                    |16             |0.002622950819672131 |
|1820101|Der Prozess                                              |1984           |270    |22                    |17             |0.002754098360655738 |
|1715504|Batman and Robin                                         |1949           |263    |23                    |18             |0.002885245901639344 |
|2514888|Young Girls with Big Tits 2                              |2008           |258    |24                    |19             |0.003016393442622951 |
|1325181|The English Civil War                                    |2001           |250    |25                    |20             |0.003147540983606557 |
|1348517|The Irish Empire                                         |2000           |250    |25                    |20             |0.003147540983606557 |
|1685488|Anal Occupation                                          |2012           |244    |27                    |21             |0.0034098360655737707|
|2050514|Lace                                                     |1984           |240    |28                    |22             |0.003540983606557377 |
|2244492|Ring Con 2002                                            |2002           |240    |28                    |22             |0.003540983606557377 |
|1638564|2004 MLB All-Star Game                                   |2004           |238    |30                    |23             |0.00380327868852459  |
|2217023|Priklyucheniya Toma Soyera i Geklberri Finna             |1981           |225    |31                    |24             |0.003934426229508197 |
|2494011|What Happened on the Moon? - An Investigation Into Apollo|2000           |225    |31                    |24             |0.003934426229508197 |
|2344045|The Airmail Mystery                                      |1932           |225    |31                    |24             |0.003934426229508197 |
|2473450|Vande Mataram                                            |1939           |222    |34                    |25             |0.004327868852459016 |
|31117  |A Última Semana                                          |1996           |220    |35                    |26             |0.004459016393442623 |
|2020637|King of the Texas Rangers                                |1941           |215    |36                    |27             |0.0045901639344262295|
|2436749|Tim Tyler's Luck                                         |1937           |212    |37                    |28             |0.004721311475409836 |
|2342706|The 75th Annual Academy Awards                           |2003           |210    |38                    |29             |0.004852459016393443 |
|770781 |Le grand Charles                                         |2006           |210    |38                    |29             |0.004852459016393443 |
|1710726|Balaguer: La violencia del poder                         |2003           |210    |38                    |29             |0.004852459016393443 |
|2217013|Priklyucheniya printsa Florizelya                        |1979           |206    |41                    |30             |0.005245901639344262 |
|1931250|Gunpowder, Treason & Plot                                |2004           |205    |42                    |31             |0.005377049180327869 |
|2217014|Priklyucheniya Sherloka Kholmsa i doktora Vatsona        |1980           |203    |43                    |32             |0.005508196721311476 |
|2123935|Mizani                                                   |1980           |203    |43                    |32             |0.005508196721311476 |
|2406939|The Reef Aquarium DVD: A Set Up and Maintenance Guide    |2008           |202    |45                    |33             |0.005770491803278688 |
|1901779|Frau im Mond                                             |1929           |200    |46                    |34             |0.005901639344262295 |
|2178823|Operazione pilota                                        |2007           |200    |46                    |34             |0.005901639344262295 |
|1814163|Deep Purple: Total Abandon - Australia '99               |2000           |200    |46                    |34             |0.005901639344262295 |
|1995130|Jai Bhim Comrade                                         |2011           |199    |49                    |35             |0.006295081967213114 |
|180182 |(2011-01-05)                                             |2011           |195    |50                    |36             |0.006426229508196721 |
|180357 |(2011-06-29)                                             |2011           |195    |50                    |36             |0.006426229508196721 |
|179932 |(2010-03-24)                                             |2010           |195    |50                    |36             |0.006426229508196721 |
|180449 |(2011-10-26)                                             |2011           |195    |50                    |36             |0.006426229508196721 |
|180419 |(2011-08-30)                                             |2011           |195    |50                    |36             |0.006426229508196721 |
|1668286|After the Deluge                                         |2003           |194    |55                    |37             |0.007081967213114754 |
|435475 |En dåres försvarstal                                     |1976           |193    |56                    |38             |0.007213114754098361 |
|2394815|The Mommy X-Perience 4                                   |2012           |193    |56                    |38             |0.007213114754098361 |
|1920944|Glory Enough for All                                     |1988           |192    |58                    |39             |0.007475409836065574 |
|2210388|Pooja                                                    |1940           |191    |59                    |40             |0.00760655737704918  |
|1910765|Gangaa Jamunaa Saraswathi                                |1988           |187    |60                    |41             |0.007737704918032787 |
|2031223|L'albero degli zoccoli                                   |1978           |186    |61                    |42             |0.007868852459016393 |
|2353468|The Burden of Proof                                      |1992           |184    |62                    |43             |0.008                |
|2452018|True Women                                               |1997           |183    |63                    |44             |0.008131147540983607 |
|574039 |Headbangers Ball                                         |1990           |180    |64                    |45             |0.008262295081967214 |
|1967861|I Know My First Name Is Steven                           |1989           |180    |64                    |45             |0.008262295081967214 |
|2133443|MTV 1st Annual Video Music Awards                        |1984           |180    |64                    |45             |0.008262295081967214 |
|2158071|Nobile - Sieben Wochen auf dem Eis                       |1967           |180    |64                    |45             |0.008262295081967214 |
|2459575|Ultimo 2 - La sfida                                      |1999           |180    |64                    |45             |0.008262295081967214 |
|179894 |(2010-02-14)                                             |2010           |180    |64                    |45             |0.008262295081967214 |
|2357669|The Commander: Blacklight                                |2006           |180    |64                    |45             |0.008262295081967214 |
|180088 |(2010-08-29)                                             |2010           |180    |64                    |45             |0.008262295081967214 |
|1952877|Hitlers Krieg im Osten                                   |2000           |180    |64                    |45             |0.008262295081967214 |
|2145040|Napoleon Fritz                                           |1997           |180    |64                    |45             |0.008262295081967214 |
|1565838|(#1.119)                                                 |1997           |180    |64                    |45             |0.008262295081967214 |
|1800855|Dalla notte all'alba                                     |1992           |180    |64                    |45             |0.008262295081967214 |
|146730 |BET's Top 25 Countdown                                   |2001           |180    |64                    |45             |0.008262295081967214 |
|1941190|He Touched Me: The Gospel Music of Elvis Presley         |2000           |180    |64                    |45             |0.008262295081967214 |
|2296661|Snow Queen                                               |2002           |180    |64                    |45             |0.008262295081967214 |
|412272 |El Dorado                                                |2010           |180    |64                    |45             |0.008262295081967214 |
|475206 |FBi                                                      |2000           |180    |64                    |45             |0.008262295081967214 |
|862536 |Messiah: The Promise                                     |2004           |180    |64                    |45             |0.008262295081967214 |
|1519618|Un domingo cualquiera                                    |2003           |180    |64                    |45             |0.008262295081967214 |
|1977738|Im Schatten der Macht                                    |2003           |180    |64                    |45             |0.008262295081967214 |
|2458656|UFC 64: Unstoppable                                      |2006           |180    |64                    |45             |0.008262295081967214 |
|1873484|Especial Nochevieja 1980: Feliz 1981                     |1981           |180    |64                    |45             |0.008262295081967214 |
|2038292|La contessa di Castiglione                               |2006           |180    |64                    |45             |0.008262295081967214 |
|1565892|(#1.168)                                                 |1998           |180    |64                    |45             |0.008262295081967214 |
|2278619|Shaka Zulu: The Citadel                                  |2001           |179    |88                    |46             |0.01140983606557377  |
|1788337|Coolie                                                   |1983           |177    |89                    |47             |0.011540983606557377 |
|1997993|Jeanne la Pucelle II - Les prisons                       |1994           |176    |90                    |48             |0.011672131147540983 |
|2488279|Warriors                                                 |1999           |175    |91                    |49             |0.01180327868852459  |
|1890396|Final Demand                                             |2003           |175    |91                    |49             |0.01180327868852459  |
|1977650|Im Lauf der Zeit                                         |1976           |175    |91                    |49             |0.01180327868852459  |
|2157676|No Swallowing Allowed 2                                  |2004           |175    |91                    |49             |0.01180327868852459  |
|1998135|Jedermanns Fest                                          |2002           |173    |95                    |50             |0.012327868852459017 |
|1741444|Boris Godounov                                           |1980           |172    |96                    |51             |0.012459016393442624 |
|2510177|Yaadein...                                               |2001           |171    |97                    |52             |0.012590163934426229 |
|749170 |La talpa                                                 |2004           |170    |98                    |53             |0.012721311475409836 |
|1784658|Common Ground                                            |1990           |170    |98                    |53             |0.012721311475409836 |
|2100295|Manchester United: The Official History 1878-2002        |2002           |170    |98                    |53             |0.012721311475409836 |
|2272384|Selected Shorts #6: The Best Flemish Shorts of 2006      |2007           |170    |98                    |53             |0.012721311475409836 |
|1869191|Engeki 2                                                 |2012           |170    |98                    |53             |0.012721311475409836 |
|897804 |The TV Asahi 50th Anniversary Program                    |2009           |168    |103                   |54             |0.01337704918032787  |
|2333124|Tape (Jiao Dai)                                          |2010           |168    |103                   |54             |0.01337704918032787  |
|2148771|Nehru: The Jewel of India                                |1990           |165    |105                   |55             |0.013639344262295083 |
|1843767|DP Fanatics 4                                            |2007           |165    |105                   |55             |0.013639344262295083 |
|2218600|Private Gold 87: Hi-Speed Sex                            |2007           |165    |105                   |55             |0.013639344262295083 |
|2114098|Mere Apne                                                |1971           |164    |108                   |56             |0.014032786885245901 |
|123403 |Bag of Bones                                             |2011           |163    |109                   |57             |0.014163934426229508 |
|1979399|In Bed with Spike                                        |2006           |161    |110                   |58             |0.014295081967213115 |
|1990260|Ishq                                                     |2012           |160    |111                   |59             |0.014426229508196721 |
|2352942|The Broke Director                                       |2007           |160    |111                   |59             |0.014426229508196721 |
|2173311|On Location: Costa del Sol                               |2003           |160    |111                   |59             |0.014426229508196721 |
|2212919|Post YMO                                                 |2009           |159    |114                   |60             |0.014819672131147541 |
|2288570|Simon Boccanegra                                         |1985           |158    |115                   |61             |0.014950819672131148 |
|1916294|Ghatak: Lethal                                           |1996           |158    |115                   |61             |0.014950819672131148 |
|1801054|Damarukam                                                |2012           |157    |117                   |62             |0.01521311475409836  |
|1669173|Agent Vinod                                              |2012           |157    |117                   |62             |0.01521311475409836  |
|1691519|Any Given Sunday                                         |1999           |156    |119                   |63             |0.015475409836065573 |
|2270245|Secret Passions                                          |2003           |156    |119                   |63             |0.015475409836065573 |
|2182947|Out at Last 4: Bazaar                                    |2003           |155    |121                   |64             |0.015737704918032787 |
|2140529|Mysterious Prison                                        |2013           |155    |121                   |64             |0.015737704918032787 |
|2134468|Mukti                                                    |1937           |155    |121                   |64             |0.015737704918032787 |
|1821083|Der Traum der bleibt                                     |1997           |155    |121                   |64             |0.015737704918032787 |
|2387055|The Lion of Punjab                                       |2011           |155    |121                   |64             |0.015737704918032787 |
|1729297|Billy Jack Goes to Washington                            |1977           |155    |121                   |64             |0.015737704918032787 |
|1727924|Big Tit Anal Whores                                      |2005           |155    |121                   |64             |0.015737704918032787 |

## Fenetre ayant une taille croissante. Sert pour des cumuls

Le cumul des notes par date croissante. La fenetre s'agrandit par valeurs successives de date : il peu y avoir plusieurs notes par date, exemple: 3 valeurs pour le 1er timestamp, puis 7 pour le 2eme timestamp, puis 1 pour le 3ème, ...

In [ ]:
# ratings.printSchema()

noteCumulee= spark.sql("""
select r.userId as u, movieId as m, timestamp, rating as note,
sum(rating) over (order by timestamp) as noteCumulee
from Ratings r
order by timestamp
  
""")
noteCumulee.createOrReplaceTempView("noteCumulee")

noteCumulee.show(12)

+---+----+---------+----+-----------+
|  u|   m|timestamp|note|noteCumulee|
+---+----+---------+----+-----------+
|383|  47|789652009| 5.0|       11.0|
|383|  21|789652009| 3.0|       11.0|
|383|1079|789652009| 3.0|       11.0|
|409|  16|828212412| 4.0|       41.0|
|409|  32|828212412| 3.0|       41.0|
|409|  21|828212412| 5.0|       41.0|
|409|  30|828212412| 5.0|       41.0|
|409|  35|828212412| 4.0|       41.0|
|409|  85|828212412| 5.0|       41.0|
|409|  25|828212412| 4.0|       41.0|
|409|   1|828212413| 5.0|       46.0|
|409| 150|828213114| 4.0|       57.0|
+---+----+---------+----+-----------+
only showing top 12 rows

## Fenêtre glissante

Le nombre de films par année. Sert de base pour calculer une somme glissante. On enlève certaines années pour avoir un domaine non dense. Cela permet d'illustrer le cas général.

In [ ]:
filmsParAnnee = spark.sql("""

select f.production_year year, count(*) as nbFilms
from Title f
where production_year >= 1910
and production_year not between 1914 and 1918
group by f.production_year
order by year
""")
filmsParAnnee.createOrReplaceTempView("FilmsParAnnee")

filmsParAnnee.show(10)

+----+-------+
|year|nbFilms|
+----+-------+
|1910|     47|
|1911|     52|
|1912|     76|
|1913|     83|
|1919|     40|
|1920|     36|
|1921|     31|
|1922|     35|
|1923|     28|
|1924|     18|
+----+-------+
only showing top 10 rows

## Somme glissante avec une fenêtre de taille fixée : n ROWS
## ou somme glissante avec une fenêtre d'intervalle fixé : RANGE de n années

In [ ]:
cumulGlissant2 = spark.sql("""

select f.*, 
       sum(nbFilms) over (order by year ROWS  between 1 preceding and current row) somme2tuples,
       sum(nbFilms) over (order by year RANGE between 1 preceding and current row) somme2ANS
       
from FilmsParAnnee f
order by year
""")

cumulGlissant2.show(10)

+----+-------+------------+---------+
|year|nbFilms|somme2tuples|somme2ANS|
+----+-------+------------+---------+
|1910|     47|          47|       47|
|1911|     52|          99|       99|
|1912|     76|         128|      128|
|1913|     83|         159|      159|
|1919|     40|         123|       40|
|1920|     36|          76|       76|
|1921|     31|          67|       67|
|1922|     35|          66|       66|
|1923|     28|          63|       63|
|1924|     18|          46|       46|
+----+-------+------------+---------+
only showing top 10 rows

In [ ]:
cumulGlissant3 = spark.sql("""

select f.*, 
       sum(nbFilms) over (order by year ROWS  between 1 preceding and 1 following) somme3tuples,
       sum(nbFilms) over (order by year RANGE between 1 preceding and 1 following) somme3ANS
       
from FilmsParAnnee f
order by year
""")

cumulGlissant3.show(10)

+----+-------+------------+---------+
|year|nbFilms|somme3tuples|somme3ANS|
+----+-------+------------+---------+
|1910|     47|          99|       99|
|1911|     52|         175|      175|
|1912|     76|         211|      211|
|1913|     83|         199|      159|
|1919|     40|         159|       76|
|1920|     36|         107|      107|
|1921|     31|         102|      102|
|1922|     35|          94|       94|
|1923|     28|          81|       81|
|1924|     18|          67|       67|
+----+-------+------------+---------+
only showing top 10 rows

## Fenêtres partitionnées : OVER (PARTITION BY ...)

Classement des films par durée, ceci pour chaque année.

In [ ]:
classementParDureeEtAnnee = spark.sql("""
select t.*, t.production_year, rank() over (partition by production_year order by runtime desc) as classement
from TitleWithRuntime t
where production_year >= 1908
  
""")
classementParDuree.createOrReplaceTempView("classementParDureeEtAnnee")

classementParDureeEtAnnee.show(20)

+-------+--------------------+---------------+-------+---------------+----------+
|     id|               title|production_year|runtime|production_year|classement|
+-------+--------------------+---------------+-------+---------------+----------+
|2495787|When Knighthood W...|           1908|     10|           1908|         1|
|1682708|    Amour et mélasse|           1908|      5|           1908|         2|
|1943713|         Heißes Blut|           1911|     42|           1911|         1|
|2409002|The Romance of Ta...|           1918|     70|           1918|         1|
|2367131|  The Fair Pretender|           1918|     50|           1918|         2|
|1744640|      Breakers Ahead|           1918|     50|           1918|         2|
|1716129|       Battling Jane|           1918|     50|           1918|         2|
|2383107|The Kingdom of Youth|           1918|     50|           1918|         2|
|2032036|    L'argent qui tue|           1918|     44|           1918|         6|
|1749236|       Bud's Recruit|           1918|     26|           1918|         7|
|2372094|The Ghost of Slum...|           1918|     19|           1918|         8|
|2012655|Kapten Grogg och fru|           1918|      9|           1918|         9|
|1657714|   A Splendid Hazard|           1920|     60|           1920|         1|
|2087937|Love, Honor and B...|           1920|     50|           1920|         2|
|2523804|    Árnyék a sátoron|           1920|     39|           1920|         3|
|2431080|    Thieves' Clothes|           1920|     20|           1920|         4|
|1674332|         Alice Adams|           1923|     73|           1923|         1|
|2295092|   Smashing Barriers|           1923|     60|           1923|         2|
|2460689| Un bon petit diable|           1923|     49|           1923|         3|
|1879025|       Extra! Extra!|           1923|     20|           1923|         4|
+-------+--------------------+---------------+-------+---------------+----------+
only showing top 20 rows

## Fenêtres partitionnées, la taille de la fenêtre varie.

Le nombre de rôles par acteur et année. On se limite aux acteurs ayant beaucoup de rôles. Cette table sert de base pour les fenêtres partitionnées avec taille variable.

In [ ]:
rolesParActeurParAnnee = spark.sql("""
select p.name,  f.production_year as year, count(*) as nbRoles
from Cast_info r, Name p, Title f, Role_type rt
where r.person_id = p.id
and r.movie_id = f.id
and r.role_id = rt.id
and (rt.role = 'actor' or rt.role = 'actress')
and ( select count(*)
      from Cast_info r2
      where r2.person_id = r.person_id 
    ) > 30
group by p.id, p.name, f.production_year 
having nbRoles
order by p.id, p.name, f.production_year 
""")

rolesParActeurParAnnee.createOrReplaceTempView("RolesParActeurParAnnee")

rolesParActeurParAnnee.show(10)

+------------------+----+-------+
|              name|year|nbRoles|
+------------------+----+-------+
|      Avalos, Luis|1972|      4|
|      Avalos, Luis|1973|      8|
|      Avalos, Luis|1974|      4|
|      Avalos, Luis|1975|      8|
|      Avalos, Luis|1976|     16|
|      Avalos, Luis|1997|      1|
|      Avalos, Luis|1999|      1|
|Baker, Dee Bradley|1993|      2|
|Baker, Dee Bradley|1994|      2|
|Baker, Dee Bradley|1995|      4|
+------------------+----+-------+
only showing top 10 rows

Le nombre de roles cumulé d'un acteur par années successives

In [ ]:
cumulParActeur = spark.sql("""
select r.*,
       sum(nbRoles) over (partition by name order by year) as nbRoleCumuleParActeur
from RolesParActeurParAnnee r
where r.year > 2010


""")


cumulParActeur.show(15)

+-----------------+----+-------+---------------------+
|             name|year|nbRoles|nbRoleCumuleParActeur|
+-----------------+----+-------+---------------------+
| Breyner, Nicolau|2011|      1|                    1|
| Breyner, Nicolau|2012|      1|                    2|
| Breyner, Nicolau|2013|      2|                    4|
| Colbert, Stephen|2012|      1|                    1|
|   Dennis, Stefan|2011|      2|                    2|
|   Dennis, Stefan|2012|      4|                    6|
| Esparteiro, Luís|2011|      4|                    4|
| Esparteiro, Luís|2012|      1|                    5|
| Esparteiro, Luís|2013|      2|                    7|
|Gonçalves, Almeno|2011|      6|                    6|
|Gonçalves, Almeno|2012|      3|                    9|
|    Rizzo, Silvia|2011|      1|                    1|
|    Rizzo, Silvia|2012|      3|                    4|
|    Rizzo, Silvia|2013|      1|                    5|
|    Welker, Frank|2012|      3|                    3|
+-----------------+----+-------+---------------------+
only showing top 15 rows

## Fenêtres partitionnées et chaque fenêtre est glissante avec une taille fixe de n ROWS

Pour chaque acteur, l'évolution du nombre de rôles annuel moyen.
La moyenne est calculée sur les années de 3 tuples : l'année courante, la valeur d'année du tuple précédent et la valeur d'année du tuple suivant.
Si un acteur n'a aucun rôle pendant une année, la moyenne est calculée sur une fenêtre faisant plus de 3 ans.

In [ ]:
evolutionNbRolesMoyenParActeur = spark.sql("""
select r.*,
       avg(nbRoles) over (partition by name order by year rows between 1 preceding and 1 following) as nbRoleMoyenSur3tuples
from RolesParActeurParAnnee r
where r.year > 2000
""")

evolutionNbRolesMoyenParActeur.show(30)

+-----------------+----+-------+---------------------+
|             name|year|nbRoles|nbRoleMoyenSur3tuples|
+-----------------+----+-------+---------------------+
|      Barker, Bob|2001|      4|                  3.5|
|      Barker, Bob|2002|      3|   3.3333333333333335|
|      Barker, Bob|2003|      3|   2.6666666666666665|
|      Barker, Bob|2004|      2|                  2.0|
|      Barker, Bob|2005|      1|   1.6666666666666667|
|      Barker, Bob|2006|      2|   1.3333333333333333|
|      Barker, Bob|2007|      1|                  1.5|
| Breyner, Nicolau|2002|      3|                  2.0|
| Breyner, Nicolau|2005|      1|   1.6666666666666667|
| Breyner, Nicolau|2006|      1|                  1.0|
| Breyner, Nicolau|2007|      1|                  1.0|
| Breyner, Nicolau|2008|      1|   1.3333333333333333|
| Breyner, Nicolau|2009|      2|                  2.0|
| Breyner, Nicolau|2010|      3|                  2.0|
| Breyner, Nicolau|2011|      1|   1.6666666666666667|
| Breyner, Nicolau|2012|      1|   1.3333333333333333|
| Breyner, Nicolau|2013|      2|                  1.5|
|Castellaneta, Dan|2001|      4|                  2.5|
|Castellaneta, Dan|2003|      1|                  2.0|
|Castellaneta, Dan|2005|      1|   1.3333333333333333|
|Castellaneta, Dan|2008|      2|                  1.5|
| Colbert, Stephen|2001|      2|                  3.0|
| Colbert, Stephen|2002|      4|   2.3333333333333335|
| Colbert, Stephen|2005|      1|                  3.0|
| Colbert, Stephen|2006|      4|   2.6666666666666665|
| Colbert, Stephen|2007|      3|   3.6666666666666665|
| Colbert, Stephen|2008|      4|   3.3333333333333335|
| Colbert, Stephen|2010|      3|   2.6666666666666665|
| Colbert, Stephen|2012|      1|                  2.0|
|   Dennis, Stefan|2007|      5|                  5.5|
+-----------------+----+-------+---------------------+
only showing top 30 rows

## Fenêtre partitionnée et glissante avec RANGE qui fixe la durée de la période glissante, par exemple toujours 3 ans.

In [ ]:
evolutionNbRolesMoyenParActeurFenetreDureeFixe = spark.sql("""
select r.*,
       avg(nbRoles) over (partition by name order by year range between 1 preceding and 1 following) as nbRoleMoyenSur3lignes
from RolesParActeurParAnnee r
where r.year > 2000
""")

evolutionNbRolesMoyenParActeurFenetreDureeFixe.show(30)

+-----------------+----+-------+---------------------+
|             name|year|nbRoles|nbRoleMoyenSur3lignes|
+-----------------+----+-------+---------------------+
|      Barker, Bob|2001|      4|                  3.5|
|      Barker, Bob|2002|      3|   3.3333333333333335|
|      Barker, Bob|2003|      3|   2.6666666666666665|
|      Barker, Bob|2004|      2|                  2.0|
|      Barker, Bob|2005|      1|   1.6666666666666667|
|      Barker, Bob|2006|      2|   1.3333333333333333|
|      Barker, Bob|2007|      1|                  1.5|
| Breyner, Nicolau|2002|      3|                  3.0|
| Breyner, Nicolau|2005|      1|                  1.0|
| Breyner, Nicolau|2006|      1|                  1.0|
| Breyner, Nicolau|2007|      1|                  1.0|
| Breyner, Nicolau|2008|      1|   1.3333333333333333|
| Breyner, Nicolau|2009|      2|                  2.0|
| Breyner, Nicolau|2010|      3|                  2.0|
| Breyner, Nicolau|2011|      1|   1.6666666666666667|
| Breyner, Nicolau|2012|      1|   1.3333333333333333|
| Breyner, Nicolau|2013|      2|                  1.5|
|Castellaneta, Dan|2001|      4|                  4.0|
|Castellaneta, Dan|2003|      1|                  1.0|
|Castellaneta, Dan|2005|      1|                  1.0|
|Castellaneta, Dan|2008|      2|                  2.0|
| Colbert, Stephen|2001|      2|                  3.0|
| Colbert, Stephen|2002|      4|                  3.0|
| Colbert, Stephen|2005|      1|                  2.5|
| Colbert, Stephen|2006|      4|   2.6666666666666665|
| Colbert, Stephen|2007|      3|   3.6666666666666665|
| Colbert, Stephen|2008|      4|                  3.5|
| Colbert, Stephen|2010|      3|                  3.0|
| Colbert, Stephen|2012|      1|                  1.0|
|   Dennis, Stefan|2007|      5|                  5.5|
+-----------------+----+-------+---------------------+
only showing top 30 rows

# Autres requêtes avec fenètre

Pour chaque genre de film, l'évolution du budget moyen sur une fenetre glissante de 10 ans.


Ratings des films: pour chaque note d'un utilisateur, le délai (en nombre de secondes) entre la note courante et la note précédente.

In [ ]:
park.sql("""
select r.*,
       avg(nbRoles) over (partition by name order by year range between 1 preceding and 1 following) as nbRoleMoyenSur3lignes
from movie mv
where r.year > 2000

select
""")

In [ ]:
imdb_akas.printSchema()

root
 |-- titleId: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- region: string (nullable = true)
 |-- language: string (nullable = true)
 |-- types: string (nullable = true)
 |-- attributes: string (nullable = true)
 |-- isOriginalkTitle: integer (nullable = true)

In [ ]:
movie_info.printSchema()

root
 |-- id: integer (nullable = true)
 |-- movie_id: integer (nullable = true)
 |-- info_type_id: integer (nullable = true)
 |-- info: string (nullable = true)
 |-- note: string (nullable = true)

In [ ]:
spark.sql("select * from info_type i where i.info='budget'").show()

+---+------+
| id|  info|
+---+------+
|105|budget|
+---+------+